# Python
Backend/venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
*.pyc

# Environment
.env
Backend/.env

# Virtual Environment
venv/

# Django
media/
staticfiles/

# Node
node_modules/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log


.agents/

# Celery Beat
celerybeat-schedule*